
/*------------- Footer Components Style -------------*/
.footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(212, 201, 188, 1);
    margin-top: 20px;
    h4{
        font-size: 40px;
        padding: 20px 0px;
        font-family: 'Griffy';
        letter-spacing: 4px;
    }
    .Foot {
        height: 80vh;
        width: 90vw;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 30vw);
        div {
            background-color: rgba(248, 245, 236, 1);
            border-radius: 40px;
            border: 2px solid rgba(0, 0, 0, 0.4);
        }
        .Foot01 {
            grid-row: span 2;
            width: 29.5vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'BebasNeue';
            button {
                font-size: 18px;
                height: 50px;
                width: 50px;
                border: none;
                background-color: rgba(0, 0, 0, 1);
                color: rgba(255, 255, 255, 1);
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                transition: 1s;
            }
        }
        .Foot01:hover {
            button {
                height: 50px;
                width: 250px;
                background-color: rgba(0, 0, 0, 0.9);
            }
            h1 {
                transition: 1s;
                transform: translateY(-40px); 
                opacity: 0;
            }
        }
        .Foot02 {
            grid-column: span 2;
            grid-row: span 2;   
            width: 59.5vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                width: 58vw;
                font-size: 28px;
                text-align: start;
                font-family: 'Karantina';
            }
            .feedback{
                width: 58vw;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                input{
                    height: 30px;
                    width: 250px;
                    border-radius: 10px;
                    border: 1px solid rgba(170, 161, 150, 1);
                    padding-left: 10px;
                    &:focus {
                        outline: none;
                    }
                    &:invalid{
                        border: 1px solid rgba(255, 0, 0, 1);
                    }
                }
                textarea{
                    border: 1px solid rgba(170, 161, 150, 1);
                    width: 300px;
                    border-radius: 10px;
                    padding: 4px;
                    &:focus {
                        outline: none;
                    }
                    &:invalid{
                        border: 1px solid rgba(255, 0, 0, 1);
                    }
                }
                button {
                    font-size: 35px;
                    border: none;
                    background-color: transparent;
                    color: rgba(0, 0, 0, 1);
                    cursor: pointer;
                    &:hover {
                        font-size: 38px;
                    }
                }
            }
        }
        .Foot03 {
            grid-column: span 2;
            width: 59.5vw;
            height: 18vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            p{
                text-align: center;
                padding: 5px 5vw;
                font-family: 'BrightMelody';
                font-size: 12px;
            }
        }
        .Foot04 {   
            width: 29.5vw;
            height: 18vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: 'BebasNeue';
            button {
                font-size: 38px;
                border: none;
                background-color: transparent;
                color: rgba(0, 0, 0, 1);
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .Foot05 {   
            grid-column: span 3;
            width: 88vw;
            height: 15vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            h1{
                width: 120px;
                font-size: 14px;
                h2{
                    font-family: 'Devil';
                }
                .FH201{
                    text-align: start;
                }
                .FH202{
                    text-align: end;
                }
            }
            button {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 38px;
                border: none;
                background-color: transparent;
                color: rgba(0, 0, 0, 1);
                border-radius: 50%;
                cursor: pointer;
                h5{
                    opacity: 0;
                    font-size: 20px;
                    transition: opacity 3s;
                }
            }
            &:hover {
                h2{
                    text-align: center;
                }
                button{
                    a{
                        transform: rotateZ(360deg);
                        transition: transform  3s;
                    }
                    h5{
                        opacity: 1;
                    }
                }
            }
        }
        .Foot06 {  
            grid-column: span 3;
            width: 88vw;
            height: 7vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba(212, 201, 188, 1);
            a{
                font-size: 14px;
                font-family: cursive;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

