
/*------------- Footer Components -------------*/
footer {
    background-color: rgba(216, 224, 203, 1);
    height: 700px;
    width: 100vw;
    color: rgba(3, 31, 28, 1);
    font-family: 'Morion';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Foot {
        height: 700px;
        width: 70vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .FootTitle {
            display: grid;
            justify-content: center;
            row-gap: 20px;
            justify-items: center;
            button {
                border: none;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                font-size: 20px;
                transition: 1s;
                cursor: pointer;
                &:hover {
                    height: 150px;
                    width: 150px;
                    font-size: 40px;
                }
            }
            h2 {
                font-size: 28px;
                border: 2px solid rgba(3, 31, 28, 1);
                padding: 0px 2px;
                cursor: default;
            }
        }
        .FootOuter {
            height: 350px;
            width: 25vw;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            .About {
                display: grid;
                justify-content: center;
                align-items: center;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);
                h1{
                    height: 100px;
                    width: 100px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    font-size: 30px;
                    text-align: start;
                    font-weight: 300;
                    opacity: 0.8;
                }
            }
            p{
                width: 25vw;
                text-align: justify;
            }
            h2{
                font-size: 14px;
                text-align: center;
                opacity: 0.5;
            }
        }
    }
    p{
        opacity: 0.5;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .FootP01 {
        margin-top: 40px;
    }
    .FootP02 {
       text-decoration: underline;
    }
}
.footer2 {
    height: 100px;
    width: 100vw;
    background-color: rgba(216, 224, 203, 1);
}

