
/*------------- Home Components Style -------------*/
.HMainOuter {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .HMainInner {
        height: 100vh;
        width: 94vw;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        div {
            border-radius: 8px;
            border: 2px solid rgba(0, 0, 0, 0.2);
            background-color: rgba(225, 225, 225, 1);
            cursor: pointer;
        }
        .HOne {
            height: 65vh;
            width: 46vw;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            row-gap: 10px;
            h1{
                font-family: 'devil';
                padding: 10px;
                text-align: start;
            }
            p{
                padding: 10px;
                text-align: center;
                font-family: 'BebasNeue';
            }
        }
        .HTwo {
            height: 100vh;
            width: 46vw;
            grid-row: span 2;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-image: url('../../assets/images/Portfolio\ stock\ graphic\ design\ and\ motion\ graphic\ templates.jpeg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;
            &:hover {
                button{
                    animation: ButtonHomeHover 4s ease-in-out 0.2s 1 forwards;
                }
            }
            button {
                height: 100px;
                width: 100px;
                border: none;
                background-color: rgba(0, 0, 0, 1);
                color: rgba(255, 255, 255, 1);
                border-radius: 50%;
                cursor: pointer;
                font-size: 12px;
                transform: rotate(0deg) scale(1);
                animation: ButtonHomeNotHover 4s ease-in-out 0s 1 forwards;
            }
        }
        .HThree {
            height: 31vh;
            width: 46vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            background-color: rgba(255, 255, 255, 1);
            div {
                display: flex;
                align-items: end;
                h1{
                    font-family: 'BebasNeue';
                }
            }
            .HThree01 {
                height: 31vh;
                width: 22.5vw;
                background-image: url('../../assets/images/Font_intro02.jpeg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
                background-blend-mode: normal;
                h1{
                    background-color: white;
                    width: 22.5vw;
                }
            }
            .HThree02 {
                height: 31vh;
                width: 22.5vw;
                background-image: url('../../assets/images/color_intro.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
                background-blend-mode: normal;
                h1{
                    background-color: white;
                    width: 22.5vw;
                }
            }
        }
    }
}

/*------------- Animation For Home -------------*/
@keyframes ButtonHomeHover {
    from{
        transform: rotate(0deg) scale(1);
    }to {
        transform: rotate(360deg) scale(0);
    }
}
@keyframes ButtonHomeNotHover {
    from{
        transform: rotate(360deg) scale(0);
    }to {
        transform: rotate(0deg) scale(1);
    }
}
// @keyframes ButtonHomeNotHover {
//     from{
//         background-image: url('');
//     }to {
//         transform: rotate(0deg) scale(1);
//     }
// }

