
/*------------- Content Components -------------*/
.Content {
    .Empty {
        height: 15vh;
        width: 100vh;
    }
    .Content01{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .Content01Img {
            height: 60vh;
            width: 20vw;
            background-image: repeating-linear-gradient(
                to right, transparent 0 50px, rgb(131, 70, 184, 0.4) 50px 51px
            ),
            repeating-linear-gradient(
                to bottom, transparent 0 50px, rgb(131, 70, 184, 0.4) 50px 51px
            ),
            linear-gradient(to right, rgb(187, 247, 100, 0.2), rgb(187, 247, 100, 0.2)),
            url('../../assets/images/avatar-portfolio-img.jpg');
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 120%;
            border-radius: 10px;
            background-color: rgba(236, 240, 243, 1);
            box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 1),
                        inset 5px 5px 12px rgba(0, 0, 0, 0.16);
            transition: 0.5s;
            border: 1px solid rgba(255, 255, 255, 1);
            &:hover {

                background-size: 100%;
            }
        }
        .Content01Outer {
            border-radius: 10px;
            height: 60vh;
            width: 75vw;
            background-color: rgba(236, 240, 243, 1);
            box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.06),
                        inset 5px 5px 12px rgba(0, 0, 0, 0.06);
            display: flex;
            justify-content: center;
            align-items: end;
            .mySwiper{
                height: 50vh;
                padding: 0px 20px;
                .MySwiperSlide{
                    height: 40vh;
                    width: 40vw;
                    background-color: rgba(236, 240, 243, 1);
                    box-shadow: -5px -5px 12px rgba(0, 0, 0, 0.16),
                                5px 5px 12px rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
    .Content02 {
        height: 20vh;
        width: 100vw; 
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        h1 {
            font-family: "BrightMelody";
            font-size: 60px;
            text-align: center; 
            font-weight: 100;
            cursor: default;
            color: rgba(196, 159, 254, 1);
        }
        .Content02Title{
            padding-right: 20px;
        }
    }
}

