
/*------------- FeedBack Components -------------*/
.Feedback {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(249, 151, 125, 1);
    .Empty {
        height: 15vh;
        width: 100vw;
    }
    .FeedbackOuter {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: 1s;
        height: 50vh;
        width: 90vw;
        background-color: rgba(243, 242, 236, 1);
        border-radius: 5px;
        h2{
            color: rgba(246, 148, 117, 1);
            font-size: 70px;
            text-align: center;
            font-weight: 200;
            background-color: rgba(255, 255, 255, 1);
        }
        form{
            display: grid;
            row-gap: 20px;
            div{
                background-color: transparent;
                height: 25px;
                width: 300px;
                input{
                    font-size: 16px;
                    background-color: transparent;
                    height: 25px;
                    width: 300px;
                    border: none;
                    font-family: "Morion";
                }
                input:invalid{
                    border: 2px solid rgba(170, 4, 4, 0.8);
                }
                input:valid{
                    border: 2px solid rgba(113, 113, 113, 0.5);
                }
                input:focus {
                    outline: none;
                }
            }
            textarea {
                font-size: 16px;
                font-family: "Morion";
                background-color: transparent;
                width: 300px;
                border: none;
            }
            textarea:focus {
                outline: none;
            }
            textarea:invalid{
                border: 2px solid rgba(170, 4, 4, 0.8);
            }
            textarea:valid{
                border: 2px solid rgba(113, 113, 113, 0.5);
            }
        }
        button {
            border: none;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            font-size: 20px;
            transition: 1s;
            background-color: rgba(249, 151, 125, 1);
            color: rgba(243, 242, 236, 1);
            cursor: pointer;
            &:hover {
                height: 110px;
                width: 110px;
                font-size: 25px;
            }
        }
    }
}

